/references

# dependencies
/frontend/node_modules
/backend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/.pnpm-debug.log*


# local env files
/frontend/.env*.local
/backend/.env*.local

# vercel
/frontend/.vercel